*{
	margin:0px;
	padding: 0px;
    font-family: 'Roboto';
}
.container{
	padding: 1%;
}
.espaciado{
	margin:1% 0%;
}
.main_container{
	background-color: #F0F2F5;
	min-height: 90vh;
}
.navbar{
	-webkit-box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 39px -21px rgba(0,0,0,0.75);
	border-bottom: 1px solid lightgrey;
}
.margen{
	margin: 3%;
}
.padding{
	padding:3%;
}
.centrado{
	text-align: center;
	align-self: center;
	align-content: center;
}
.publicacion{
	border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);

}
.footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
  	padding-top: 5px;
  	box-shadow: 39px 10px 10px -21px rgba(0,0,0,0.75);
	background-color: white;
	color: black;
	border-top: 1px solid lightgrey;
}
.formulario_modal{
	padding: 4% 10%;

}

.imagen{
	max-width: 100%;
	max-height: 100%;
}
.float-button{
	position: relative;
	top:5px;
	right: 5px;
}
.nav-link{
	border-radius: 5px;
}

.nav-link:hover{
	background-color: #F0F2F5;
}
.inline{
	display: inline-block;
}

.true{
	color:#28a745;
}
.false{
	color: #dc3545;
}